{%macro datos(nombre, placeholder,type="text")%}

<p><input name="{{nombre}}" placeholder="{{placeholder}}" type="{{type}}"></p>
{%endmacro%}


{% macro input_Form(Field, label='', class='') %}
    <td>{{ label if label else Field.label }}</td>
    {% if class_name %}
        <dd>{{ Field(class=class) | safe }}</dd>
    {% else %}
        <dd>{{ Field() | safe }}</dd>
    {% endif %}


{%if Field.errors%}
<ul>
    {%for error in Field.errors%}
    <li style="color:red">{{error}}</li>{%endfor%}
</ul>
{%endif%}

{%endmacro%}